body {
    background-color: #fff;
    margin: 0;
}

.auth-container {
    display: flex;
    justify-content: space-between;
}

.auth-container .box:nth-child(1) {
    width: 40%;
    padding-top: calc(100vh * 153 / var(--designHeight));
    padding-left: calc(100vw * 178 / var(--designWidth));
}

.auth-container .box:nth-child(2) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Rectangle.svg');
    padding: 
        calc(100vh * 124 / var(--designHeight))
        calc(100vw * 173 / var(--designWidth))
        calc(100vh * 205 / var(--designHeight))
        calc(100vw * 173 / var(--designWidth));
}

.box:nth-child(2)>div {
    text-align: center;
}

.box img.logo {
    width: calc(100vw * 269 / var(--designWidth));
}

.auth-box {
    width: calc(100vw * 526 / var(--designWidth));
    min-height: 466px;
    padding: 76px 44px;
    border-radius: 10px;
    background: var(--neutral-50);
}

.auth-box h4 {
    text-align: left;
    color: #000;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.auth-box div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth-box div label {
    text-align: left;
    margin-bottom: 8px;
}

.auth-box div input {
    border-radius: 6px;
    border: 1px solid var(--neutral-400);
    background: var(--shades-white);
    padding: 14px 16px;
}

.auth-box div input.error {
    border: 1px solid var(--error);
}

.auth-box div button {
    border-radius: 6px;
    border: 1px solid var(--neutral-800);
    background: var(--neutral-800);
    padding: 14px 0px;
    text-align: center;
    color: var(--neutral-50);
    margin-bottom: 36px;
}

.auth-box div span {
    text-align: left;
}